

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

body {
  margin: 0;
}

.flex-vertical{
  display: flex;
  flex-direction: column;
}

.flex-horizontal{
  display: flex;
  flex-direction: row;
}
